chefws_cp/.vagrant
chefws_cp/*~
chefws_cp/*#
chefws_cp/.#*
chefws_cp/\#*#
chefws_cp/.*.sw[a-z]
chefws_cp/*.un~

# Bundler
chefws_cp/Gemfile.lock
chefws_cp/gems.locked
chefws_cp/bin/*
chefws_cp/.bundle/*

# test kitchen
chefws_cp/.kitchen/
chefws_cp/kitchen.local.yml

# Chef Infra
chefws_cp/Berksfile.lock
chefws_cp/.zero-knife.rb
chefws_cp/Policyfile.lock.json

chefws_cp/.idea/

###

chef_workstation/.vagrant
chef_workstation/*~
chef_workstation/*#
chef_workstation/.#*
chef_workstation/\#*#
chef_workstation/.*.sw[a-z]
chef_workstation/*.un~

# Bundler
chef_workstation/Gemfile.lock
chef_workstation/gems.locked
chef_workstation/bin/*
chef_workstation/.bundle/*

# test kitchen
chef_workstation/.kitchen/
chef_workstation/kitchen.local.yml

# Chef Infra
chef_workstation/Berksfile.lock
chef_workstation/.zero-knife.rb
chef_workstation/Policyfile.lock.json

chef_workstation/.idea/

###

atom/.vagrant
atom/*~
atom/*#
atom/.#*
atom/\#*#
atom/.*.sw[a-z]
atom/*.un~

# Bundler
atom/Gemfile.lock
atom/gems.locked
atom/bin/*
atom/.bundle/*

# test kitchen
atom/.kitchen/
atom/kitchen.local.yml

# Chef Infra
atom/Berksfile.lock
atom/.zero-knife.rb
atom/Policyfile.lock.json

atom/.idea/

###

chefws/.vagrant
chefws/*~
chefws/*#
chefws/.#*
chefws/\#*#
chefws/.*.sw[a-z]
chefws/*.un~

# Bundler
chefws/Gemfile.lock
chefws/gems.locked
chefws/bin/*
chefws/.bundle/*

# test kitchen
chefws/.kitchen/
chefws/kitchen.local.yml

# Chef Infra
chefws/Berksfile.lock
chefws/.zero-knife.rb
chefws/Policyfile.lock.json

chefws/.idea/

###

git/.vagrant
git/*~
git/*#
git/.#*
git/\#*#
git/.*.sw[a-z]
git/*.un~

# Bundler
git/Gemfile.lock
git/gems.locked
git/bin/*
git/.bundle/*

# test kitchen
git/.kitchen/
git/kitchen.local.yml

# Chef Infra
git/Berksfile.lock
git/.zero-knife.rb
git/Policyfile.lock.json

git/.idea/

